# Credit Risk Resampling Techniques

In [332]:
import warnings
warnings.filterwarnings('ignore')

In [333]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn import tree

# Read the CSV into DataFrame

In [334]:
# Load the data
file_path = Path('../Homework_Folder/lending_data.csv')
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000,low_risk

In [335]:
df_loans = pd.read_csv(file_path)
df_loans.head()
X = df_loans.copy()

# Split the Data into Training and Testing

In [336]:
# Define features
X.drop("derogatory_marks", axis=1, inplace=True)
X.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,23000,low_risk

In [337]:
# Create our features
X = df_loans.copy()

# Create our target
y = df_loans["loan_status"]

In [338]:
X.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000

In [339]:
# Check the balance of our target values
y = df_loans["loan_status"]

In [340]:
# Create X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [341]:
X_train

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
25729,10100.0,7.402,mortgage,50300,0.403579,4,1,20300,low_risk
20176,9200.0,7.049,mortgage,46900,0.360341,3,0,16900,low_risk
55080,8800.0,6.870,mortgage,45200,0.336283,3,0,15200,low_risk
10410,8900.0,6.919,mortgage,45700,0.343545,3,0,15700,low_risk
63110,8500.0,6.731,own,43900,0.316629,3,0,13900,low_risk
...,...,...,...,...,...,...,...,...,...
4767,12300.0,8.346,mortgage,59100,0.492386,6,1,29100,low_risk
26012,8300.0,6.634,own,43000,0.302326,2,0,13000,low_risk
58637,6700.0,5.988,mortgage,36900,0.186992,1,0,6900,low_risk
23339,9200.0,7.054,mortgage,47000,0.361702,3,0,17000,low_risk
45677,7600.0,6.352,mortgage,40400,0.257426,2,0,10400,low_risk

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [342]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [343]:
le = LabelEncoder()

In [344]:
# Fitting and encoding the columns with the LabelEncoder

# RealEstate column
le.fit(df_loans["homeowner"])
df_loans["homeowner"] = le.transform(df_loans["homeowner"])

# Encoding RevLineCr column
le.fit(df_loans["loan_status"])
df_loans["loan_status"] = le.transform(df_loans["loan_status"])

df_loans.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,1,52800,0.431818,5,1,22800,1
1,8400.0,6.692,1,43600,0.311927,3,0,13600,1
2,9000.0,6.963,2,46100,0.349241,3,0,16100,1
3,10700.0,7.664,1,52700,0.430740,5,1,22700,1
4,10800.0,7.698,0,53000,0.433962,5,1,23000,1

In [345]:
df_loans = pd.get_dummies(df_loans, columns=["homeowner", "loan_status"])
df_loans.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,homeowner_0,homeowner_1,homeowner_2,loan_status_0,loan_status_1
0,10700.0,7.672,52800,0.431818,5,1,22800,0,1,0,0,1
1,8400.0,6.692,43600,0.311927,3,0,13600,0,1,0,0,1
2,9000.0,6.963,46100,0.349241,3,0,16100,0,0,1,0,1
3,10700.0,7.664,52700,0.430740,5,1,22700,0,1,0,0,1
4,10800.0,7.698,53000,0.433962,5,1,23000,1,0,0,0,1

In [346]:
# Save the file for forthcoming usage
file_path = Path("../Homework_Folder/lending_data_encoded.csv")
df_loans.to_csv(file_path, index=False)

In [347]:
# Loading data
file_path = Path("../Homework_Folder/lending_data_encoded.csv")
df_loans = pd.read_csv(file_path)
df_loans.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,homeowner_0,homeowner_1,homeowner_2,loan_status_0,loan_status_1
0,10700.0,7.672,52800,0.431818,5,1,22800,0,1,0,0,1
1,8400.0,6.692,43600,0.311927,3,0,13600,0,1,0,0,1
2,9000.0,6.963,46100,0.349241,3,0,16100,0,0,1,0,1
3,10700.0,7.664,52700,0.430740,5,1,22700,0,1,0,0,1
4,10800.0,7.698,53000,0.433962,5,1,23000,1,0,0,0,1

In [348]:
# Creating the scaler instance
data_scaler = StandardScaler()

In [349]:
# Fitting the scaler
data_scaler.fit(df_loans)

StandardScaler()

In [350]:
df_loans_scaled = data_scaler.transform(df_loans)
pd.DataFrame(df_loans).head(5)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,homeowner_0,homeowner_1,homeowner_2,loan_status_0,loan_status_1
0,10700.0,7.672,52800,0.431818,5,1,22800,0,1,0,0,1
1,8400.0,6.692,43600,0.311927,3,0,13600,0,1,0,0,1
2,9000.0,6.963,46100,0.349241,3,0,16100,0,0,1,0,1
3,10700.0,7.664,52700,0.430740,5,1,22700,0,1,0,0,1
4,10800.0,7.698,53000,0.433962,5,1,23000,1,0,0,0,1

In [353]:
X_train

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
25729,10100.0,7.402,mortgage,50300,0.403579,4,1,20300,low_risk
20176,9200.0,7.049,mortgage,46900,0.360341,3,0,16900,low_risk
55080,8800.0,6.870,mortgage,45200,0.336283,3,0,15200,low_risk
10410,8900.0,6.919,mortgage,45700,0.343545,3,0,15700,low_risk
63110,8500.0,6.731,own,43900,0.316629,3,0,13900,low_risk
...,...,...,...,...,...,...,...,...,...
4767,12300.0,8.346,mortgage,59100,0.492386,6,1,29100,low_risk
26012,8300.0,6.634,own,43000,0.302326,2,0,13000,low_risk
58637,6700.0,5.988,mortgage,36900,0.186992,1,0,6900,low_risk
23339,9200.0,7.054,mortgage,47000,0.361702,3,0,17000,low_risk
45677,7600.0,6.352,mortgage,40400,0.257426,2,0,10400,low_risk

In [355]:
# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(df_loans)

In [352]:
# # Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

NotFittedError: This StandardScaler instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

# Simple Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train, y_train)

In [ ]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [ ]:
# Resample the training data with the RandomOversampler
# YOUR CODE HERE

# View the count of target classes with Counter
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

### SMOTE Oversampling

In [ ]:
# Resample the training data with SMOTE
# YOUR CODE HERE

# View the count of target classes with Counter
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

# Undersampling

In this section, you will test an undersampling algorithm to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [ ]:
# Resample the data using the ClusterCentroids resampler
# YOUR CODE HERE

# View the count of target classes with Counter
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculate the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [ ]:
# Resample the training data with SMOTEENN
# YOUR CODE HERE

# View the count of target classes with Counter
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculate the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

# Final Questions

1. Which model had the best balanced accuracy score?

   YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.